<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>
<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>
<p>Price: <%= number_to_currency(@listing.deposit / 100.0) %></p>
<% if @listing.picture.attached?%>
<%= image_tag @listing.picture.service_url, class:'background'%>
<% end %>


<div>
  <% if current_user && current_user.id == @listing.user_id %>
    <%= link_to "Edit", edit_listing_path(@listing.id) %>
    <%= link_to "Delete", listing_path(@listing.id), method: :delete %>
  <% end %>
  <%= link_to "Pay Deposit", "", id: "stripe" %>
  <%= link_to "Back", :back %>
</div>

<%= javascript_pack_tag "stripe" %>